<div class="chat-container">
  <div class="chat-window" #chatContainer>
    <div *ngFor="let msg of mensajes"
         [ngClass]="{ 'msg-user': msg.fromUser, 'msg-bot': !msg.fromUser }"
         class="message">
      <div class="msg-bubble">
        {{ msg.texto }}
      </div>
    </div>
  </div>

  <div class="chat-input">
    <textarea (keydown.enter)="enviarMensaje(); $event.preventDefault()"
          [(ngModel)]="nuevoMensaje"
          placeholder="Escribe tu mensaje..."></textarea>
    <button (click)="enviarMensaje()">
      <span>Enviar</span>
      <i class="fa fa-paper-plane"></i>
    </button>
  </div>
</div>
