.container{
    border: blue 1px solid;

}

.chat-historial-style{
    border: orange 1px solid;
    padding: 10px 5px 10px 5px;
    margin: 10px 0px 10px 0px;
    height: 500px;
}

.user-style{
    display: flex;
    flex-direction: column;
}

.mensaje {
  background: #f1f1f1;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}